body {
    margin: 0;
    background-color:seagreen ;
    display: grid;
    align-content: center;
    justify-content: center;
    min-height: 100vh;
}
h1 {
    color:aliceblue;
}


.form-wrapper {
    display: flex;
    border-radius: 4px;
    width: min-content;
}

.form-container {
    padding: 20px;
    background-color: seagreen;
}

.form-container h1 {
    text-align: center;
}

.form-container form {
    width: 300px;
}

form .input-wrapper {
    display: flex;
    flex-direction: column;
}

.form-container label {
    display: block;
    margin-bottom: 4px;
    color: aliceblue;
}

.form-container input, .form-container select {
    flex-grow: 1;
    display: block;
    margin-bottom: 16px;
    border: 1px solid #d4d4d4;
    padding: 8px;
    border-radius: 4px;
}

.form-container input[type=file] {
    border: none;
    padding: 0;
}

.form-container button {
    background-color: #007AFF;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    color:#d4d4d4;
}

.logo-container {
    padding: 20px;
    width: 300px;
    display: grid;
    align-content: center;
    justify-content: center;
}

.logo-container img {
    width: 300px;
}